<div class="catalog catalog--table"><!---->
<div class="catalog-item ">
    <div class="catalog__icon catalog__icon-red">
        <svg class="icons icon-hot popular__hot">
            <use xlink:href="../local/images/sprite.svg#hot"></use>
        </svg>
    </div>
    <div class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
        <div class="catalog-item__checkbox">
            <input id="tovar" name="tovar" type="checkbox">
            <label for="tovar"></label>
        </div>
    </div>
    <div class="catalog-item__images-box">
        <picture>
            <source srcset="../local/images/catalog/instrument.jpeg" media="(min-width:  768px)">
            <source srcset="../local/images/catalog/instrument.jpeg">
            <img class="catalog-item__images" src="../local/images/catalog/instrument.jpeg" alt="">
        </picture>
    </div>
    <div class="catalog-item__description">
        <h5><a href="" class="catalog-item__header"> Ведро для мусора с педалью 5 литров FRAP® F714 Бронза</a></h5>
    </div>
    <div class="catalog-item__count">
        <div class="input-count">
            <a class="catalog-item__count_btn product-item-amount-field-btn-minus">-</a>
            <input type="text" class="form-control" placeholder="1">
            <a class="catalog-item__count_btn product-item-amount-field-btn-plus">+</a>
        </div>
    </div>
    <div class="catalog-item__short-info catalog-item__short-info--article">
        <div class="catalog-item__kod">
            <div>Код: <strong>736151</strong></div>
             <div  class="catalog-item__article "><span class="catalog-item__name">Артикул:</span> <span class="catalog-item__value">736-151</span></div>
            <div>Штрихкод: 6575676765</div>
        </div>
    </div>
    <div class="catalog-item__short-info">
        <div class="catalog-item__short-info_min">
            мин. кол-во
            <div class="catalog-item__short-info_value">
                4 шт.
            </div>
        </div>
        <div class="catalog-item__short-info_in-box">
            в коробке
            <div class="catalog-item__short-info_value">
                16 шт.
            </div>
        </div>
    </div>
    <div class="catalog-item__presence">
        <span class="catalog-item__presence-text" > в наличии </span>
    </div>
    <div class="catalog-item__price">
        <div class="price catalog-item__price_new">2999р</div>
    </div>
    <div class="catalog-item__btn">
        <button class="btn btn-default btn-block">
            <span class="buy_text">В корзину</span>
        </button>
    </div>
</div>
<div class="catalog-item ">
    <div class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
        <div class="catalog-item__checkbox">
            <input id="tovar" name="tovar" type="checkbox">
            <label for="tovar"></label>
        </div>
    </div>
    <div class="catalog-item__images-box">
        <picture>
            <source srcset="../local/images/catalog/instrument.jpeg" media="(min-width:  768px)">
            <source srcset="../local/images/catalog/instrument.jpeg">
            <img class="catalog-item__images" src="../local/images/catalog/instrument.jpeg" alt="">
        </picture>
    </div>
    <div class="catalog-item__description">
        <h5><a href="" class="catalog-item__header">СМЕСИТЕЛЬ Д/К FRAP® D35 H49 ГИБКИЙ ИЗЛИВ, НА ГАЙКЕ F4049 БЕЛЫЙ/ХРОМ</a></h5>
    </div>
    <div class="catalog-item__count">
        <div class="input-count">
            <a class="catalog-item__count_btn product-item-amount-field-btn-minus">-</a>
            <input type="text" class="form-control" placeholder="1">
            <a class="catalog-item__count_btn product-item-amount-field-btn-plus">+</a>
        </div>
    </div>
    <div class="catalog-item__short-info catalog-item__short-info--article">
        <div class="catalog-item__kod">
            <div>Код: <strong>736151</strong></div>
             <div  class="catalog-item__article "><span class="catalog-item__name">Артикул:</span> <span class="catalog-item__value">736-151</span></div>
            <div>Штрихкод: 6575676765</div>
        </div>
    </div>
    <div class="catalog-item__short-info">
        <div class="catalog-item__short-info_min">
            мин. кол-во
            <div class="catalog-item__short-info_value">
                4 шт.
            </div>
        </div>
        <div class="catalog-item__short-info_in-box">
            в коробке
            <div class="catalog-item__short-info_value">
                16 шт.
            </div>
        </div>
    </div>
    <div class="catalog-item__presence">
        <span class="catalog-item__presence-text" > в наличии </span>
    </div>
    <div class="catalog-item__price">
        <div class="price catalog-item__price_old">25000р</div>
        <div class="price catalog-item__price_new">19999р</div>
    </div>
    <div class="catalog-item__btn">
        <button class="btn btn-default btn-block">
            <span class="buy_text">В корзину</span>
        </button>
    </div>
</div>
<div class="catalog-item ">
    <div class="catalog__icon popular__icon-blue">
        <span class="popular__new">new</span>
    </div>
    <div class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
        <div class="catalog-item__checkbox">
            <input id="tovar" name="tovar" type="checkbox">
            <label for="tovar"></label>
        </div>
    </div>
    <div class="catalog-item__images-box">
        <picture>
            <source srcset="../local/images/catalog/instrument.jpeg" media="(min-width:  768px)">
            <source srcset="../local/images/catalog/instrument.jpeg">
            <img class="catalog-item__images" src="../local/images/catalog/instrument.jpeg" alt="">
        </picture>
    </div>
    <div class="catalog-item__description">
        <h5><a href="" class="catalog-item__header">Смеситель д/в GAPPO® d40 встроенный G7148-8 Белый/Хром Тропический душ 230x230 мм</a></h5>
    </div>
    <div class="catalog-item__count">
        <div class="input-count">
            <a class="catalog-item__count_btn product-item-amount-field-btn-minus">-</a>
            <input type="text" class="form-control" placeholder="1">
            <a class="catalog-item__count_btn product-item-amount-field-btn-plus">+</a>
        </div>
    </div>
    <div class="catalog-item__short-info catalog-item__short-info--article">
        <div class="catalog-item__kod">
            <div>Код: <strong>736151</strong></div>
             <div  class="catalog-item__article "><span class="catalog-item__name">Артикул:</span> <span class="catalog-item__value">736-151</span></div>
            <div>Штрихкод: 6575676765</div>
        </div>
    </div>
    <div class="catalog-item__short-info">
        <div class="catalog-item__short-info_min">
            мин. кол-во
            <div class="catalog-item__short-info_value">
                4 шт.
            </div>
        </div>
        <div class="catalog-item__short-info_in-box">
            в коробке
            <div class="catalog-item__short-info_value">
                16 шт.
            </div>
        </div>
    </div>
    <div class="catalog-item__presence">
        <span class="catalog-item__presence-text" > в наличии </span>
    </div>
    <div class="catalog-item__price">
        <div class="price catalog-item__price_old">3500р</div>
        <div class="price catalog-item__price_new">2999р</div>
    </div>
    <div class="catalog-item__btn">
        <button class="btn btn-default btn-block">
            <span class="buy_text">В корзину</span>
        </button>
    </div>
</div>
<div class="catalog-item ">
    <div class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
        <div class="catalog-item__checkbox">
            <input id="tovar" name="tovar" type="checkbox">
            <label for="tovar"></label>
        </div>
    </div>
    <div class="catalog-item__images-box">
        <picture>
            <source srcset="../local/images/catalog/instrument.jpeg" media="(min-width:  768px)">
            <source srcset="../local/images/catalog/instrument.jpeg">
            <img class="catalog-item__images" src="../local/images/catalog/instrument.jpeg" alt="">
        </picture>
    </div>
    <div class="catalog-item__description">
        <h5><a href="" class="catalog-item__header"> Ведро для мусора с педалью 5 литров FRAP® F714 Бронза</a></h5>
    </div>
    <div class="catalog-item__count">
        <div class="input-count">
            <a class="catalog-item__count_btn product-item-amount-field-btn-minus">-</a>
            <input type="text" class="form-control" placeholder="1">
            <a class="catalog-item__count_btn product-item-amount-field-btn-plus">+</a>
        </div>
    </div>
    <div class="catalog-item__short-info catalog-item__short-info--article">
        <div class="catalog-item__kod">
            <div>Код: <strong>736151</strong></div>
            <div  class="catalog-item__article "><span class="catalog-item__name">Артикул:</span> <span class="catalog-item__value">736-151</span></div>
            <div>Штрихкод: 6575676765</div>
        </div>
    </div>
    <div class="catalog-item__short-info">
        <div class="catalog-item__short-info_min">
            мин. кол-во
            <div class="catalog-item__short-info_value">
                4 шт.
            </div>
        </div>
        <div class="catalog-item__short-info_in-box">
            в коробке
            <div class="catalog-item__short-info_value">
                16 шт.
            </div>
        </div>
    </div>
    <div class="catalog-item__presence">
        <span class="catalog-item__presence-text" > в наличии </span>
    </div>
    <div class="catalog-item__price">
        <div class="price catalog-item__price_old">3500р</div>
        <div class="price catalog-item__price_new">2999р</div>
    </div>
    <div class="catalog-item__btn">
        <button class="btn btn-default btn-block">
            <span class="buy_text">В корзину</span>
        </button>
    </div>
</div>
<div class="catalog-item ">
    <div class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
        <div class="catalog-item__checkbox">
            <input id="tovar" name="tovar" type="checkbox">
            <label for="tovar"></label>
        </div>
    </div>
    <div class="catalog-item__images-box">
        <picture>
            <source srcset="../local/images/catalog/instrument.jpeg" media="(min-width:  768px)">
            <source srcset="../local/images/catalog/instrument.jpeg">
            <img class="catalog-item__images" src="../local/images/catalog/instrument.jpeg" alt="">
        </picture>
    </div>
    <div class="catalog-item__description">
        <h5><a href="" class="catalog-item__header"> Ведро для мусора с педалью 5 литров FRAP® F714 Бронза</a></h5>
    </div>
    <div class="catalog-item__count">
        <div class="input-count">
            <a class="catalog-item__count_btn product-item-amount-field-btn-minus">-</a>
            <input type="text" class="form-control" placeholder="1">
            <a class="catalog-item__count_btn product-item-amount-field-btn-plus">+</a>
        </div>
    </div>
    <div class="catalog-item__short-info catalog-item__short-info--article">
        <div class="catalog-item__kod">
            <div>Код: <strong>736151</strong></div>
            <div  class="catalog-item__article "><span class="catalog-item__name">Артикул:</span> <span class="catalog-item__value">736-151</span></div>
            <div>Штрихкод: 6575676765</div>
        </div>
    </div>
    <div class="catalog-item__short-info">
        <div class="catalog-item__short-info_min">
            мин. кол-во
            <div class="catalog-item__short-info_value">
                4 шт.
            </div>
        </div>
        <div class="catalog-item__short-info_in-box">
            в коробке
            <div class="catalog-item__short-info_value">
                16 шт.
            </div>
        </div>
    </div>
    <div class="catalog-item__presence">
        <span class="catalog-item__presence-text" > в наличии </span>
    </div>
    <div class="catalog-item__price">
        <div class="price catalog-item__price_old">3500р</div>
        <div class="price catalog-item__price_new">2999р</div>
    </div>
    <div class="catalog-item__btn">
        <button class="btn btn-default btn-block">
            <span class="buy_text">В корзину</span>
        </button>
    </div>
</div>
</div>
